_darkGray = #bbb
_lightGray = #eee
_facebookColor = #3b5998
_twitterColor = #00aced
_youtubeColor = #bb0000

.container-fluid

	// #discography, #whoweare
	// 	background _lightGray

	// #discography, #whoweare, #events
	// 	font-size .9em
	// 	padding-bottom 30px
	// 	text-align left

	// 	h2
	// 		font-size 1.5em
			
	// #events, #whoweare
	// 	border-bottom 1px solid _darkGray

	// #whoweare
	// 	padding-top 25px

.social-bar > div
	text-align center

	&.facebook
		
		&:hover
			background _facebookColor

		&:hover span
			color _white

		span
			color _facebookColor

	&.twitter
		color _twitterColor

		&:hover
			background _twitterColor

		&:hover span
			color _white

		span
			color _twitterColor

	&.youtube
		color _youtubeColor

		&:hover
			background _youtubeColor
			color _white

		&:hover span
			color _white

		span
			color _youtubeColor

	a
		display block
		padding 10px

		&:hover
			text-decoration none

	span
		display block
		font-size 2em
		margin 0
		applyTransition(.2s, ease-in-out)

		&.social-text
			display none