_darkGray = #bbb
_lightGray = #eee

#discography, #whoweare
	background _lightGray

#discography, #whoweare, #events
	font-size .9em
	padding-bottom 30px
	text-align left

	h2
		font-size 1.5em
		
#events, #whoweare
	border-bottom 1px solid _darkGray