// variables
// estilos predefinidos
// mixins

// variables
_black = #3A3A3A
_darkgray = #CCC
_gray = #EAEAEA
_newsTag = #2ECC71
_orange = #F39C12
_showTag = #3498DB
_white = #FFF

// estilos predefinidos
img
	display block
	width 100%

// mixins
applyTransition(time, function)
	transition all time function