// variables
// mixins
// body
// estilos predefinidos para íconos y botones
// animaciones

// variables
_black = #242424
_darkBlack = #000
_orange = #f06d26
_white = #fff

// mixins
applyTransition(time, function)
	transition all time function

buildButton(baseColor, fontColor)
	display inline-block
	margin-top 25px
	applyTransition(.2s, ease-in-out)
	
	&:hover
		text-decoration none

	&.button-orange
		background baseColor
		color fontColor

		&:hover
			background darken(baseColor, 15%)

	& > span
		display inline-block
		padding 10px 0 10px 10px
		vertical-align middle

		&.btn-text
			applyTransition(.2s, ease-in-out)

		&.icon
			background darken(baseColor, 15%)
			margin 0
			padding 15px 10px

// body
body, html
	background _white
	color _black
	font-family "Open Sans", sans-serif
	font-size 14px
	height 100%
	letter-spacing 2px
	line-height 1.5em
	position relative
	text-align center

// íconos y botones
[class^="icon-"], [class*=" icon-"]
	color _white
	font-size 1.25em
	margin-right 10px

.button
	buildButton(_orange, _white)

// animaciones
@keyframes animarBackground {
	from {
		transform: scale(1) rotate(0deg);
	}
	35% {
		transform: scale(1.1) rotate(-2deg);
	}
	70% {
		transform: scale(1.05) rotate(1deg);
	}
	to {
		transform: scale(1.2) rotate(5deg);
	}
}