body, html
	background _white
	color _black
	font-family: 'Lato', 'sans-serif';
	font-size 20px
	letter-spacing 2px
	line-height 1.5em
	text-align center

.pure-g [class *= "pure-u"], .pure-g-r [class *= "pure-u"]
	font-family: 'Lato', 'sans-serif';
	// font-family: 'Fjalla One', sans-serif;
	letter-spacing 2px