body, html
	background _white
	color _black
	font-family: 'Lato', 'sans-serif';
	font-size 16px
	letter-spacing 2px
	line-height 1.5em
	position relative
	text-align center

nav
	applyTransition(.5s, ease)
	right -251px
	position fixed
	top 15px
	z-index 20

	&.show-menu
		right -1px

	#show-menu
		background rgba(0, 0, 0, .8)
		color _white
		display inline-block
		font-size 30px
		margin-right 1px
		padding 10px 20px

		span
			applyTransition(.5s, ease)

			&.clicked
				transform rotate(-180deg)

	.nav
		background rgba(0, 0, 0, .8)
		color _white
		padding 25px 0
		text-align left
		width 250px

		a
			color _gray
			margin 10px 0
			text-decoration none
			display block

		p
			color _white
			margin 50px 0 20px
			text-align center

		span
			display inline-block
			vertical-align middle

		.fa-facebook-square
			color #3b5998

		.fa-twitter
			color #00aced

		.fa-youtube
			color #dd4b39

		.nav-icon
			color lighten(_orange, 25%)
			font-size 2.5em

		.pure-u-1
			font-size .8em

			a
				color _white
				margin-left 20px

		.pure-u-12-24
			padding-bottom 10px
			text-align center

			&:hover .nav-icon
				color _orange

			span
				display block
				margin-top 10px

		.social-icon
			display inline-block
			font-size 2em
			margin-right 10px
			vertical-align middle

.pure-g [class *= "pure-u"], .pure-g-r [class *= "pure-u"]
	font-family: 'Lato', 'sans-serif';
	letter-spacing 2px