@media (min-width: 480px)
	
	#content > div
		padding 25px

	#splash-container .splash h1
		font-size 4.8em

@media (min-width: 768px)
	
	#content > div
		padding 25px 0

	#content .container
		padding 0 15px

	#splash-container .splash h1
		font-size 6em

@media (min-width: 1024px)
	
	#content > div
		padding 25px 5%

	#content .container
		padding 0 50px