@media (min-width: 320px)

	body
		font-size 16px

	.button:hover .btn-text
		margin-right 15px

	.container-fluid #events .event-list h3
		font-size 1.4em

@media (min-width: 768px)

	header .hero-content
		top 35%

		h1
			font-size 6em

	ul.nav
		background _darkBlack
		display block
		width 100%

	ul.nav li
		display inline-block
		margin 0 10px

	.container-fluid #whoweare figure
		margin 0 5px 25px
		max-width none

	.navbar
		padding-bottom 0px

	.social-bar > div span
		display inline-block
		vertical-align middle

	.social-bar > div span.social-text
		display inline-block
		font-size 1em
		margin-left 10px
		vertical-align middle