@media (min-width: 320px)
	
	.button.button-orange
		padding 10px 15px 12px

@media (min-width: 768px)

	header .hero-content
		top 35%

		h1
			font-size 6em

	ul.nav
		background rgba(0, 0, 0, .8)
		display block
		width 100%

	ul.nav li
		display inline-block
		margin 0 10px

	#discography, #whoweare, #events
		padding 25px 0 50px

	.navbar
		padding-bottom 0px

	.social-bar > div
		text-align center