body, html
	background #fff
	color #242424
	font-family "Open Sans", sans-serif
	font-size 16px
	height 100%
	letter-spacing 2px
	line-height 1.5em
	text-align center

button.navbar-toggle
	background rgba(0, 0, 0, .5)
	color #fff
	margin-left 10px
	padding 5px 10px

	span
		display inline-block
		vertical-align middle

	.icon-arrow-down
		font-size 1.25em
		transition all .3s ease-in-out

		.rotate
			transform rotate(180deg)

footer
	background #242424
	color #fff
	font-size .8em
	padding 50px 0
	text-align center

	p
		margin 0

header
	min-height 90%
	overflow hidden
	position relative

	.hero-container
		animation animarBackground 30s ease-in-out infinite alternate
		background url("../assets/images/cover.jpg")
		background-position center center
		background-repeat no-repeat
		background-size cover
		left 0
		min-height 100%
		min-width 100%
		position absolute
		top 0

	.hero-content
		color #fff
		position absolute
		top 25%
		width 100%
		z-index 0

		a
			margin-top 25px
			text-shadow 0px 0px 3px rgba(0, 0, 0, .5)

		h1
			font-family "Befrisky"
			font-size 3.5em
			text-shadow 2px 1px 3px rgba(0, 0, 0, .8)

		p.sub-heading
			font-style italic
			text-shadow 2px 1px 3px rgba(0, 0, 0, .5)

ul.nav
	background rgba(0, 0, 0, .5)
	border-radius 4px
	padding 0
	position absolute
	z-index 100

	li
		text-align left

		&:hover a
			border-radius 4px
			background rgba(0, 0, 0, .8)

		a
			color #fff
			padding 15px

		a > span
			display inline-block
			vertical-align middle

.btn > span
	display inline-block
	vertical-align middle

#discography, #whoweare
	background #eee

#discography, #whoweare, #events
	font-size .9em
	padding-bottom 30px
	text-align left

	h2
		font-size 1.5em
		
#events, #whoweare
	border-bottom 1px solid #bbb

.navbar-collapse
	box-shadow none

[class^="icon-"], [class*=" icon-"]
	color #fff
	font-size 1.25em
	margin-right 10px

@keyframes animarBackground {
	from {
		transform: scale(1) rotate(0deg);
	}
	35% {
		transform: scale(1.1) rotate(-2deg);
	}
	70% {
		transform: scale(1.05) rotate(1deg);
	}
	to {
		transform: scale(1.2) rotate(5deg);
	}
}